// Generated.
package net.localift.generated

import android.content.Context
import net.localift.localift.R

object Strings {
    private lateinit var context: Context

    fun init(context: Context) {
      this.context = context
    }

    private fun stringForKey(key: Int, vararg args: Any): String {
        return context.resources.getString(key, *args)
    }

    private fun stringArrayForKey(key: Int): List<String> {
        return context.resources.getStringArray(key).toList()
    }
{% for item in strings %}
{%- if item.args.length > 0 %}
    fun {{ item.key | camelcase }}({{ item.args | parameters }}): String = 
        stringForKey(R.string.{{ item.key | fixKey }}, {{ item.args | arguments }})
{%- else %}
    val {{ item.key | camelcase }}: String
        get() = stringForKey(R.string.{{ item.key | fixKey }})
{%- endif %}
{% endfor %}

{%- for item in stringArrays %}
    val {{ item.key | camelcase }}: List<String>
        get() = stringArrayForKey(R.string.{{ item.key | fixKey }})
{% endfor -%}
}
