<?xml version="1.0"?>
<resources xmlns:xliff="urn:oasis:names:tc:xliff:document:1.2">
{%- for item in strings %}
    <string name="{{ item.key | fixKey }}">{{ item.value | safe }}</string>
{%- endfor %}
{%- for item in stringArrays %}
    <string-array name="{{ item.key | fixKey }}">
{%- for value in item.values %}
        <item>{{ value }}</item>
{%- endfor %}
    </string-array>
{%- endfor %}
</resources>